body {
  background-color: #ECEFF1;
  color: #283593;
  padding-top: 80px;
}

a {
  color: #283593;
}

a:hover {
  color: #1A237E;
}

h1, h2, h3, h4, h5, .big-font, label {
  font-family: 'Rubik Mono One', sans-serif;
}

div, p, span, .small-font {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

header .container {
  border-bottom: 2px solid #283593;
}

header h2, header h5 {
  margin: 0px 25px;
}

header.bay-header {
  background-color: transparent;
}

button {
  background-color: #283593;
  border-radius: 5px;
  color: #E8EAF6;
  font-family: 'Rubik Mono One', sans-serif;
  border: none;
  transition: all 0.25s ease;
  font-size: 14px;
  margin-bottom: 0px;
  height: 45px;
  font-size: 2rem;
}

button:hover {
  background-color: #1A237E;
  color: white;
}

::placeholder {
  color: #5C6BC0;
}

input, input[type="text"], input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid #283593;
  margin-bottom: 2px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  color: #283593;
  transition: all 0.25s ease;
}

input {
  width: 100%;
  font-size: 16px;
  height: auto;
}

input[type="text"]:focus {
  border-bottom: 4px solid #283593;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0px;
}

.error-message {
  color: #F44336;
}

form {
  margin-bottom: 0px;
}

header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
}

.simple-container {
  margin-left: 25px;
  margin-right: 25px;
}

.flex {
  display: flex;
}

.waiver button {
  margin: 10px 20px;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}


.align-center {
  align-items: center;
}

.user-list {

}

.user-list-item {
  padding: 15px 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.user-list-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.user-search {
  margin-top: 50px;
  margin-bottom: 25px;
}

.user-search input {
  width: 100%;
}


.admin-user-page {
  margin-top: 25px;
  margin-bottom: 25px;
}

.admin-user-page h2 {
  margin-bottom: 0px;
}

.admin-user-page-info {
  margin-top: 25px;
}

.signup-form {
  margin-top: 25px;
}

.form-group {
  margin-bottom: 25px;
}

.centered-message {
  width: 75%;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: #283593;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  transition: all 0.25s ease;
}

.modal.modal-error {
  background-color: #F44336;
}
.modal.modal-error button {
  color: #F44336;
}

.modal.modal-success {
  background-color: #4CAF50;
}
.modal.modal-success button {
  color: #4CAF50;
}

.modal.modal-warning {
  background-color: #FF9800;
}
.modal.modal-warning button {
  color: #FF9800;
}

.modal button {
  margin: 0px 20px;
}

.modal-container {
  width: 50%;
}

button.button-white {
  color: #283593;
  background-color: white;
}

.detected-rfid {
  background-color: #283593;
  padding: 10px 20px;
  color: white;
  margin: 10px 0px;
}

.detected-rfid h5 {
  margin: 0px;
}

.bay-play {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  color: white;
  text-align: center;
}

.play-button-container {
  width: 100%;
  height: 100vh;
}

.play-button {
  width: 8%;
  border: 25px solid transparent;
}

.play-button svg:hover {
  cursor: pointer;
}

.play-button svg:hover circle {
  fill: black;
}

.terms {
  height: 50vh;
  overflow: scroll;
  box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.5);
  padding: 10px;
  margin-bottom: 25px;
}

.bay-on-deck {
  background-color: #283593;
  color: white;
  padding: 25px 0px;
}

.bay-on-deck.waiting {
  background-color: #F44336;
}

.socket-connection {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 4px solid white;
}

.socket-connection.connected {
  background-color: #4CAF50;
}

.socket-connection.disconnected {
  background-color: #F44336;
}

.logo {
  margin-left: 25px;
  width: 175px;
}

.bay-page {

}

.big-bay-body {
  overflow: hidden;
  background-color: black;
  color: white;
}

.bay-page.big-bay h1 {
  font-size: 7rem;
}

.bay-page.big-bay h3 {
  font-size: 5rem;
  overflow: hidden;
}

.bay-page.big-bay h4, .bay-page.big-bay h5 {
  font-size: 3rem;
}

.big-bay-logo {
  margin-left: 25px;
  width: 60px;
  height: 60px;
}

.big-bay-logo-bigger {
  width: 300px;
  height: 300px;
}

.big-bay-main-logo {
  text-align: center;
}

.big-bay-main-logo img {
  margin: 30px 0px;
}

.overlay-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}


.inline {
  display: inline-block;
}

.bay-list-item h5, .bay-list-item p {
  margin: 0px;
}

.bay-list-name {
  width: 50%;
}

.bay-list-count, .bay-list-state {
  width: 25%;
  text-align: right;
}

.admin-button-container {
  text-align: center;
}
.admin-button-container div {
  margin: 10px;
}

.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}